@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');

@keyframes upAndDown {
    from {
        padding-top: 170px;
    }
    to {
        padding-top: 200px;
    }
}

@keyframes upAndDown2 {
    from {
        padding-top: 50px;
    }
    to {
        padding-top: 20px;
    }
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.bg {
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(#abc0e4 60%, #c7d5dd);
    padding-top: 200px;
    animation-name: upAndDown;
    animation-duration: 2s;
    animation-direction: alternate;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;
}

.cloud {
    display: flex;
    justify-content: center;
    align-items: center;
}

.minicir {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background-color: white;
    z-index: 2;
}

.cir2 {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-color: white;
    margin-left: -100px;
    z-index: 3;
    text-align: center;
}

.cir3 {
    margin-left: -100px;
}

.tdnone {
    text-decoration: none;
    color: black;
}

.menucontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    animation-name: upAndDown2;
    animation-duration: 2s;
    animation-direction: alternate;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;
}

.mcont {
    text-decoration: none;
    display: flex;
    line-height: 60px;
}

.menu {
    /*margin-right: 50px;*/
    font-family: 'Jua', sans-serif;
    font-size: 20px;
    color: black;
    
}

.about {
    font-size: 20px;
    font-family: 'Jua', sans-serif;
    text-align: center;
}

@media (max-width: 500px) {
    .cloud {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .minicir {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        background-color: white;
        z-index: 2;
    }
    
    .cir2 {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        background-color: white;
        margin-left: -100px;
        z-index: 3;
        text-align: center;
    }
    
    .cir3 {
        margin-left: -100px;
    }

    .menucontainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 50px;
        animation-name: upAndDown2;
        animation-duration: 2s;
        animation-direction: alternate;
        animation-timing-function: ease-in;
        animation-iteration-count: infinite;
    }
}